<%= form_for([@micropost, current_user.comments.build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag :micropost_id, @micropost.id %>
  <%= link_to avatar_for(current_user, size: 50), current_user %>
 	<div class="field">
  <%= f.text_area :content, placeholder: "Compose new comment..." %>
	</div>

  <%= f.submit "Publish", class: "btn btn-primary" %>
<% end %>